.conteneur-button {
    display: flex;
    justify-content: center;
}

.button-validation {
    background: linear-gradient(-200deg, $secondary-color, $primary-color);
    @include vignettes-shadow;
    border: none;
    padding: 22px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 35px;
    margin: 0;
    margin-bottom: 65px;
    color: white;
    cursor: pointer;
    position: relative;
    z-index: 1;
        @include tab-big {
            font-size: 30px;
        }
     &:hover {
        background: linear-gradient(-200deg, $lighten-secondary-color, $lighten-primary-color);
            &::after {
                opacity: 1;
            }
        }
    &::after {
    position: absolute;
    top: 0 ;
    right: 0;
    bottom: 0;
    left: 0;
    @include vignettes-shadow;
    opacity: 0;
    z-index: -1;
    transition: opacity 250ms;
    content: "";
    border-radius: 35px;
    }           
}