button {
    background: linear-gradient(-200deg, $secondary-color, $primary-color);
    @include vignettes-shadow;
    border: none;
    padding: 22px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 35px;
    margin: 0;
    margin-bottom: 65px;
    color: white;
}