button {
    background: linear-gradient(-200deg, $secondary-color, $primary-color);
    box-shadow: 1px 3px 5px $shadow-color;
    border: none;
    padding: 22px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 35px;
    margin: 0;
    margin-bottom: 65px;
    color: white;
}