.heart {
    div {
        cursor: pointer;
        position: relative;
        &:hover {
            &> .far {
                opacity: 0;
                &+ .fas {
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }
         
        .far {
            transition: opacity 600ms cubic-bezier(.58,.24,.52,.96);
        }
        .fas {
            position: absolute;
            right: 0;
            opacity: 0;
            transition: opacity cubic-bezier(.58,.24,.52,.96) 400ms, scale 100ms cubic-bezier(.58,.24,.52,.96) ;
            transform: scale(0.8);
            background: linear-gradient(-200deg, $secondary-color, $primary-color);
            background-size: 100%;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

