html {
  // height: 100%;
}

body {
  // height: 100%;
  // margin: 0;
  // padding: 0;
  // height: 100%;
}
    .lds-ring {
      background-color: rgba(147, 86, 220, 0.6);
      // opacity: 60%;
      // background-color: blue;
      // width: 100%;
      // height: 100%;
      
      display: flex;
      justify-content: center;
      position: absolute;
      z-index: 5;
      width: 100%;
      // padding: auto;
      height: 100%;
      padding-top: 100px;

    }

  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    // opacity: 100%;
    // padding-top: 200px;
    // margin: 8px;
    border: 8px solid $primary-color;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) 3;
    // animation-iteration-count: 3;
    // animation-duration: 5s;
    border-color: $primary-color transparent transparent transparent;
    // opacity: 1;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
      // opacity: 1;
    }
    100% {
      transform: rotate(360deg);
      // display: none;
      // opacity: 0;
    }
  }