$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

$lighten-primary-color: lighten(#9356DC, 2%);
$lighten-secondary-color: lighten(#FF79DA, 2%);

$form-color: #Eaeaea;
$case-color: #F5f5f5;

$shadow-color: #9c9c9e;
$shadow-colorbold: blue;

$fawesome-color: #838383;
$falternate-color: #393939;


$alert-color: #B3fbcd;
$fontalert-color: #5ca276;

$footer-color: #525252;

$form-fsize: 20px;

