.background-footer {
    background-color: $footer-color;
}

footer {
    color: white;
    padding: 30px 20px;
        .footer__logo {
            font-family: "shrikhand";
            font-size: 25px;
            margin-bottom: 30px;
        }
        ul {
            @include tab-big {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
            }
                li {
                margin-bottom: 10px;
                @include tab-big {
                    width: 40%;
                }

                    i {
                    color: white;
                    margin-right: 12px;
                    }
                    p {
                        color: white;
                            &:hover {
                            text-decoration: underline white;
                            // text-decoration-color: white;
                        }
                    }
                    
                }
        }       
}

.order {
    @include tab-big {
        order: -1;
    }
}

.footer-link {
    display: flex;
}