header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    position: relative;
        .header__logo {
        font-family: "shrikhand";
        font-size: 40px;
    }
}



.header__back-accueil {
    // display: flex;
    // align-items: center;
    background-color: purple;
    justify-content: baseline;
    position: absolute;
    left: 20px;
        i {
            font-size: 27px;
        }
}
