

.intro-menu {
    position: relative;
        .photo-menu {
            height: 440px;
            width: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .title {
            background-color: $case-color;
            display: flex;
            justify-content: space-between;
            border-radius: 30px 30px 0 0;
            position: absolute;
            bottom: 0px;
            width: 100%;
                h1 {
                    font-family: "shrikhand";
                    padding-top: 40px;
                    padding-bottom: 40px;
                    padding-left: 25px;
                    @include tab-big {
                        font-size: 35px;
                    }
                }
                .heart {
                    padding-top: 40px;
                    padding-bottom: 40px;
                    padding-right: 40px;
                    font-size: 27px;
                }
        }
}