.menu {
    @include desktop {
        display: flex;
        justify-content: space-between;
    }
        .part-menu {
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 40px;
        @include desktop {
            width: 32%;
        }
            h2 {
                font-size: 22px;
                font-weight: normal;
                text-transform: uppercase;
                margin-bottom: 8px;
                color: $falternate-color;
                @include tab-big {
                    font-size: 25px;
                    margin-bottom: 10px;
                }
            }
            .underline-title {
                width: 55px;
                height: 4px;
                background-color: $alert-color;
                display: block;
                margin-bottom: 15px;
                @include tab-big {
                    margin-bottom: 30px;
                    width: 65px;
                    height: 5px;
                }
            }
            .menu-group {
                @include tab-big {
                display: flex;
                justify-content: space-between; 
                }
                @include desktop {
                    display: inherit;
                }
            }
    }
}


.conteneur-button {
            display: flex;
            justify-content: center;
                button {
                    @include tab-big {
                        font-size: 30px;
                    }
                }
        }

.part-menu__choice {
            display: flex;
            justify-content: space-between;
            background-color: white;
            margin-bottom: 15px;
            border-radius: 20px;
            @include vignettes-shadow;
            cursor: pointer;
            @include tab-big {
                width: 32%;
                margin-bottom: 0;
            }
            @include desktop {
                width: auto;
                margin-bottom: 15px;
            }
                &__description {
                    padding: 17px 13px;
                        h3 {
                            font-weight: bold;
                            padding-bottom: 10px;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                            width: 240px;
                            font-size: 18px;
                            @include mobile-big{
                                font-size: 20px;
                                width: 260px;
                            }
                            @include tab-little{
                                width: 300px;
                                font-size: 22px;
                            }
                            @include tab-big {
                                white-space: inherit;
                                // overflow: inherit;
                                width: auto;
                                font-size: 18px;
                            }
                            @include desktop {
                                white-space: nowrap;
                                width: 220px;
                                font-size: 19px;
                            }

                        }
                        p {
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                            color: $falternate-color;
                            width: 240px;
                            font-size: 14px;
                            @include mobile-big{
                                font-size: 16px;
                                width: 260px;
                            }
                            @include tab-little{
                                width: 300px;
                                font-size: 18px;
                            }
                            @include tab-big {
                                white-space: inherit;
                                // overflow: inherit;
                                width: auto;
                                font-size: 15px;
                            }
                            @include desktop {
                                white-space: nowrap;
                                width: 220px;
                                font-size: 16px;
                            }
                        }
                }
                &__price {
                    display: flex;
                    @include tab-big {
                        flex-direction: column-reverse;
                        justify-content: space-between;
                    }
                    @include desktop {
                        flex-direction: row;
                        justify-content: inherit;
                    }
                        p {
                            font-weight: bold;
                            font-size: 18px;
                            padding-right: 20px;
                            padding-bottom: 17px;
                            padding-left: 10px;
                            display: flex;
                            align-items: flex-end;
                            @include desktop {
                                font-size: 15px;
                            }
                        }
                        i {
                            color: white;
                            background-color: $alert-color;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 0 20px 20px 0;
                            font-size: 23px;
                            padding-right: 17px;
                            padding-left: 17px;
                            // display: none;
                            @include tab-big {
                                // padding: 20px;
                                height: 50%;
                                border-radius: 0 20px 0 0;
                            }
                            @include desktop {
                                height: auto;
                                border-radius: 0 20px 20px 0;
                            }
                        }
                
                }

    }