
.part-menu {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 40px;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // min-width: 300px;
        h2 {
            font-size: 22px;
            font-weight: normal;
            text-transform: uppercase;
            margin-bottom: 8px;
            color: $falternate-color;
        }
        .underline-title {
            width: 55px;
            height: 4px;
            background-color: $alert-color;
            display: block;
            margin-bottom: 15px;
        }
        
}

.conteneur-button {
            display: flex;
            justify-content: center;
            // width: 300px;
            // height: 300px;
            // background-color: black;
        }

.part-menu__choice {
            display: flex;
            justify-content: space-between;
            background-color: white;
            margin-bottom: 15px;
            // padding: 17px 13px;
            border-radius: 20px;
            @include vignettes-shadow;
            cursor: pointer;
            // width: 100%;
            // max-width: 300px;
                &__description {
                    // width: 100px;
                    // width: 70%;
                    padding: 17px 13px;
                    // flex-wrap: 2;
                        h3 {
                            font-weight: bold;
                            padding-bottom: 10px;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                            width: 230px;
                        }
                        p {
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                            color: $falternate-color;
                            width: 230px;
                            // width: 70%;
                        }
                }
                &__price {
                    // width: 30%;
                    display: flex;
                    // right: 50px;
                    // position: absolute;
                    // right: auto;
                    // width: 40%;
                        p {
                            font-weight: bold;
                            font-size: 18px;
                            padding-right: 20px;
                            padding-bottom: 17px;
                            padding-left: 10px;
                            display: flex;
                            align-items: flex-end;
                            // background-color: yellow;
                            // overflow: hidden;
                            
                        }
                        i {
                            color: white;
                            background-color: $alert-color;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 0 20px 20px 0;
                            font-size: 23px;
                            padding-right: 17px;
                            padding-left: 17px;
                            // display: none;
                            // width: 50px
                            // object-fit: cover;
                        }
                }
                
        }