.menu {
    padding-top: 35px;
    @include tab-big {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    @include desktop {
        flex-wrap: inherit;
    }
        .part-menu {
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 40px;
        @include tab-big {
            width: 44%;
            
        }
        @include desktop {
            width: 32%;
        }
            h2 {
                font-size: 22px;
                font-weight: normal;
                text-transform: uppercase;
                margin-bottom: 8px;
                color: $falternate-color;
            }
            .underline-title {
                width: 55px;
                height: 4px;
                background-color: $alert-color;
                display: block;
                margin-bottom: 15px;
            }
    }
}


.menu-group {
    
        .content {
            opacity: 1;
            animation: apparition 1500ms cubic-bezier(.21,.95,.33,.99) 200ms;
            animation-fill-mode: backwards;
                & + .content {
                    opacity: 1;
                    animation-delay: 400ms;
                    animation-fill-mode: backwards;
                        & + .content {
                            opacity: 1;
                            animation-delay: 600ms;
                            animation-fill-mode: backwards;
                        }
                }
        }
}


@keyframes apparition {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.content {
    height: 80px;
    width: 100%;
    background-color: white;
    margin-bottom: 15px;
    position: relative;
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
    @include vignettes-shadow;
            span {
                background-color: $alert-color;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 0 20px 20px 0;
                        position: absolute;
                        height: 100%;
                        top: 0;
                        right: -60px;
                        transition: right 180ms ease-in-out;
                    i {
                        color: white;
                        rotate: 180deg;
                        font-size: 23px;
                        padding-right: 17px;
                        padding-left: 17px;
                        transition: transform 300ms ease-in-out;
                    }

            }
    
}

.part-menu__choice {
            display: flex;
            justify-content: space-between;
            border-radius: 20px;
            height: 100%;
            transition: padding-right 230ms ease-in-out;
                &:hover {
                    padding-right: 50px;
                        &+ span {
                            right: 0;
                                &> i {
                                    transform: rotate(-180deg);
                                }
                        }
                }
            overflow: hidden;
                &__description {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    white-space: nowrap;
                    overflow: hidden;
                    padding-left: 15px;
                        h3 {
                            font-weight: bold;
                            padding-bottom: 10px;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            font-size: 17px;
                            @include mobile-big{
                                font-size: 20px;
                            }
                            @include tab-little{
                                font-size: 22px;
                            }
                            @include tab-big {
                                font-size: 18px;
                            }
                            @include desktop {
                                font-size: 19px;
                            }
                        }
                        p {
                            text-overflow: ellipsis;
                            overflow: hidden;
                            color: $falternate-color;
                            font-size: 14px;
                            @include mobile-big{
                                font-size: 16px;
                            }
                            @include tab-little{
                                font-size: 18px;
                            }
                            @include tab-big {
                                font-size: 15px;
                            }
                            @include desktop {
                                font-size: 16px;
                            }
                        }
                }
                &__price {
                    display: flex;
                    transition: transform 1s ease-in-out;
                    @include desktop {
                        flex-direction: row;
                        justify-content: inherit;
                    }
                        p {
                            font-weight: bold;
                            font-size: 17px;
                            padding-right: 20px;
                            padding-bottom: 20px;
                            padding-left: 10px;
                            display: flex;
                            align-items: flex-end;
                            @include desktop {
                                font-size: 15px;
                            }
                        }
                
                }

    }
    