.background-restaurant {
    background-color: $case-color;
}


.restaurant {
    padding: 40px 20px;
        .restaurant-orga {
             @include tab-big {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            }   
        }
   
    
        h2 {
            margin-bottom: 40px;
        }
}

.vignette-place {
    height: 320px;
    margin-bottom: 25px;
    position: relative;
    background-color: white;
    border-radius: 20px;
    @include vignettes-shadow;
    @include tab-big {
        width: 48%;   
    }
    @include desktop {
        width: 47%;
        margin-bottom: 60px;
    }
        &__image {
            height: 70%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 20px 20px 0 0;
                }
        }
        &__new-alert {
            position: absolute;
            top: 18px;
            right: 21px;
            background-color: $alert-color;
            color: $fontalert-color;
            padding: 8px 14px;
            font-size: 16px;
            border-radius: 5px;
        }
        &__infos {
            display: flex;
            justify-content: space-between;
            height: 30%;
            align-items: center;
                &__text {
                    padding-left: 20px;
                        h3 {
                            margin-bottom: 10px;
                            font-weight: bold;
                            @include desktop {
                                font-size: 30px;
                            }
                        }
                        p {
                            color: $falternate-color;
                            @include desktop {
                                font-size: 25px;
                            }
                        }
                }
                i {
                    padding-right: 25px;
                    font-size: 30px;
                    @include desktop {
                        font-size: 30px;
                    }
                }
        }
}




